<h1>
  FlexBox css stud! 
</h1>

<div class="manual-link" >
  <a href="https://tuhub.ru/posts/flexbox-complete-guide" >документация</a>
</div>

<div class="first-flex-block" >
  <div>первый</div>
  <div>
    второй<br />второй<br />второй<br />второй<br />второй<br />второй<br />второй<br />второй<br />второй
  </div>
  <div>третий</div>
</div>

<h2>Grow</h2>

<div class="second-flex-block" >
  <div>первый</div>
  <div>
    второй - второй - второй - второй - второй - второй - второй - второй - второй
  </div>
  <div>третий</div>
</div>